

@media screen and (max-width:780px) {
    .home-container .text-white{
        padding:0px;
    }
    .home-image{
            width:200px !important;
            height:200px !important;;
            object-fit:fill !important;;
            /* padding-top:-20px !important; */
    }
    .homeCard{
        flex-direction: column;
    }
    
}

/* @media screen and (max-width:540px) {
    .home-image{
        display: none;
}

} */

@media screen and (max-width:485px) {
    .home-container .text-white{
        padding:0px;
    }
    /* .home-image{
            display:none
    } */
    .homeCard{
        flex-direction: column;
    }

    .home-container .text-white{
        padding-right:10px !important;
        padding-left:10px !important;
        padding-bottom:10px !important;
    }

    .home-container button{
        margin-left: 10px !important;
    }

    .home-image{
        width: 150px !important;
        height:150px !important;;
        object-fit:fill !important;;
        /* padding-top:-20px !important; */
}
    
}

@media screen and (max-width:370px) {

    .home-container .text-white{
        padding-right:5px !important;
        padding-left:5px !important;
        padding-bottom:10px !important;
    }
    .home-image{
        width: 135px !important;
        height:135px !important;
        object-fit:fill !important;;
        /* padding-top:-20px !important; */
}


}