.form-responsive{
    width:45vw !important;
}

@media screen and (max-width:850px){
    .container{
        width:100% !important;
        padding:20px !important
    }
    .form-responsive{
        width:90% !important;
        padding:20px !important;
        border-radius:7px !important;
        margin-top:"20px"  !important;
    }
}
