body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding:0;
  margin:0
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-dialog{
  min-width:70vw !important;
  /* max-width:85vw; */
  margin:0 auto !important;
}

@media screen and (max-width:900px){
  .modal-overlay{
    flex-direction: column !important;
    margin:0 auto !important
  }
  .modal-card{
    width:90% !important;
    margin:0 auto !important
  }
}